!!!
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title holly.bergeman.name
    %link{ :rel => "stylesheet", :href => "/style/", :type => "text/css" }
  %body
    %h1 Holly Allen (Bergeman)
